* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  position: relative;
}
a {
  text-decoration: none;
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: rgb(252, 186, 6);
  animation: colorChange 20s ease-in-out infinite alternate;
}
@keyframes colorChange {
  0% {
    background-color: rgb(252, 186, 6);
  }
  50% {
    background-color: rgb(0, 137, 250);
  }
  100% {
    background-color: rgb(252, 6, 6);
  }
}
.element {
  text-align: center;
  margin: 30px;
  color: white;
  background-color: transparent;
}
.element img {
  max-width: 95vw;
  max-height: 100vh;
}
.element img:hover {
  cursor: pointer;
  box-shadow: 2px 2px 8px black;
}
/*  */
/*  */
/*  */
#downloadArrow {
  width: 100%;
  cursor: pointer;
}
#downloadArrow:hover {
  background-color: rgba(0, 0, 0, 0.459);
  color: white;
}
#downloadContent {
  display: none;
}
.download {
  text-align: center;
  animation: colorChange 20s ease-in-out infinite alternate;
  color: black;
}
.download button {
  border: none;
  font-size: 20px;
  cursor: pointer;
  background: none;
  padding: 12px 20px;
  margin: 5px 10px 0 10px;
  background: rgb(48, 48, 47);
  color: white;
}
.download button:hover {
  box-shadow: 2px 0px 5px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  background: black;
  border: none;
}
@media screen and (max-width: 1000px) {
  .download button {
    font-size: 15px;
    padding: 10px 20px;
  }
  .element img {
    width: 90vw;
  }
}
/*  */
/*  */
#arrow {
  display: block;
  background-color: rgb(88, 21, 4);
  color: white;
  padding: 15px;
  border: none;
  border-radius: 100px;
  position: fixed;
  right: 10px;
  bottom: 20px;
  transform: rotate(90deg);
}
