$color_1:#1f2437;
$color_2:#f8cf2c;
$color_3:#ad0a0a;
$color_4:#0a7721;

*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}
body{
    background: $color_1;
}
// Links Red
a{
    text-decoration: underline;
    text-decoration-color: $color_3;
}
// Center align heading
.main-heading h1{
    color: white;
    background: black;
    text-align: center;
    padding: 18px 0;
}
// 
.tile-wrapper{
    padding: 36px 36px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px 50px;
}
// On small screen, only one column
@media screen and (max-width: 500px){
    .tile-wrapper{
        grid-template-columns: auto;
    }
    .tile-wrapper{
        .tile{
            height: 40vh;
        }
    }
}
// 
:root {
    --level-one: translateZ(3rem);
    --level-two: translateZ(6rem);
    --level-three: translateZ(9rem);
    --fw-normal: 400;
    --fw-bold: 700;
    --clr: radial-gradient(#1f2437, #1f24376b);
}

.card__body p span{
    color: $color_3;
    animation: slideRight 2s linear forwards infinite;
}

@keyframes slideRight {
    0%{
        transform: translateX(0px);
        opacity: 0;
    }
    50%{
        transform: translateX(20px);
        opacity: 1;
    }
    100%{
        transform: translateX(40px);
        opacity: 0;
    }
}

.card__content {
    text-align: center;
    position: relative;
    padding: 10em 5em;
    transition: transform 3s;
    transform-style: preserve-3d;
}

.card:hover .card__content {
    transform: rotateY(.5turn);
}

.card__front,
.card__back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5em 3em;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    display: grid;
    align-content: center;
}

.card__front {
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    background: var(--clr);
    // background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/308367/fair.jpg);
    // background-size: cover;
    // background-blend-mode: overlay;
    color: #333;
}

.card__front::before {
    content: '';
    position: absolute;
    --spacer: 1em;
    top: var(--spacer);
    bottom: var(--spacer);
    left: var(--spacer);
    right: var(--spacer);
    border: 3px solid $color_2;
    transform: var(--level-one);
    opacity: 0.6;
}

.card__title {
    color: $color_2;
    transform: var(--level-three);
    order: 2;
    text-transform: uppercase;
}

.card__subtitle {
    transform: var(--level-two);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: .75rem;
    font-weight: var(--fw-bold);
    opacity: .8;
}

.card__body {
    transform: var(--level-two);
    font-weight: var(fw-normal);
    font-size: 1.5rem;
    line-height: 1.6;
}

.card__back {
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    transform: rotateY(.5turn);
    color: $color_3;
    background: radial-gradient(#1f2437,#1f243757 );
    backdrop-filter: blur(10px);
}

.card__back::before {
    content: '';
    position: absolute;
    --spacer: 1em;
    top: var(--spacer);
    bottom: var(--spacer);
    left: var(--spacer);
    right: var(--spacer);
    border: 3px solid $color_3;
    transform: translateZ(1rem);
    opacity: 0.6;
}
.card__back a p{
    color: $color_3;
}
.card__back a p{
    transform: var(--level-three);
}
// 
// Footer
// 
footer{
    background: black;
    width: 100%;
    text-align: center;
    padding: 16px 0;
}
footer {
    div::after, div::before{
    display: inline-block;
    content: "";
    border-top: .2rem solid $color_2;
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(-0.2rem);
    }
}
@media screen and (max-width: 500px) {
        footer div::after, footer div::before{
            content: "";
            border-top: 0px solid $color_2;
            width: 0rem;
            margin: 0;
            transform: none;
        }
    }